.elementor-24328 .elementor-element.elementor-element-90d3dbd>.elementor-container {
    max-width: 700px;
}

.elementor-24328 .elementor-element.elementor-element-90d3dbd:not(.elementor-motion-effects-element-type-background),
.elementor-24328 .elementor-element.elementor-element-90d3dbd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ECF0F2;
}

.elementor-24328 .elementor-element.elementor-element-90d3dbd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-24328 .elementor-element.elementor-element-90d3dbd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-24328 .elementor-element.elementor-element-75470ba {
    text-align: center;
}

.elementor-24328 .elementor-element.elementor-element-2f0ba36 {
    text-align: right;
    width: auto;
    max-width: auto;
    top: 136px;
}

.elementor-24328 .elementor-element.elementor-element-2f0ba36 .elementor-image img {
    width: 200px;
}

body:not(.rtl) .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
    right: 96.5px;
}

body.rtl .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
    left: 96.5px;
}

.elementor-24328 .elementor-element.elementor-element-999f29b .elementor-text-editor {
    text-align: center;
}

.elementor-24328 .elementor-element.elementor-element-999f29b {
    font-size: 19px;
}

.elementor-24328 .elementor-element.elementor-element-1d6767e>.elementor-widget-container {
    margin: 0px 0px -26px 80px;
}

.elementor-24328 .elementor-element.elementor-element-1d6767e {
    z-index: 1;
}

.elementor-24328 .elementor-element.elementor-element-5ae8861 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 100px;
    width: auto;
    max-width: auto;
    top: 20%;
}

.elementor-24328 .elementor-element.elementor-element-5ae8861 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-right: 0;
}

.elementor-24328 .elementor-element.elementor-element-5ae8861 .elementor-divider {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

body:not(.rtl) .elementor-24328 .elementor-element.elementor-element-5ae8861 {
    right: 3%;
}

body.rtl .elementor-24328 .elementor-element.elementor-element-5ae8861 {
    left: 3%;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f {
    --grid-template-columns: repeat(1, auto);
    --icon-size: 15px;
    --grid-column-gap: 0px;
    --grid-row-gap: 20px;
    width: auto;
    max-width: auto;
    top: 40%;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f .elementor-widget-container {
    text-align: left;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f .elementor-social-icon {
    background-color: #FFFFFF00;
    --icon-padding: 0em;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f .elementor-social-icon i {
    color: #303030;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f .elementor-social-icon svg {
    fill: #303030;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f .elementor-social-icon:hover i {
    color: #1C7261;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f .elementor-social-icon:hover svg {
    fill: #1C7261;
}

.elementor-24328 .elementor-element.elementor-element-3ac2f5f>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

body:not(.rtl) .elementor-24328 .elementor-element.elementor-element-3ac2f5f {
    right: 2.45%;
}

body.rtl .elementor-24328 .elementor-element.elementor-element-3ac2f5f {
    left: 2.45%;
}

.elementor-24328 .elementor-element.elementor-element-ea0876f>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-24328 .elementor-element.elementor-element-ea0876f:not(.elementor-motion-effects-element-type-background),
.elementor-24328 .elementor-element.elementor-element-ea0876f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ECF0F2;
}

.elementor-24328 .elementor-element.elementor-element-ea0876f {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #E1E4E6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 20px 0px;
}

.elementor-24328 .elementor-element.elementor-element-ea0876f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-24328 .elementor-element.elementor-element-933215d .hfe-copyright-wrapper a,
.elementor-24328 .elementor-element.elementor-element-933215d .hfe-copyright-wrapper {
    color: #868686;
}

.elementor-24328 .elementor-element.elementor-element-933215d .hfe-copyright-wrapper,
.elementor-24328 .elementor-element.elementor-element-933215d .hfe-copyright-wrapper a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.elementor-24328 .elementor-element.elementor-element-365e8f8 .hfe-copyright-wrapper {
    text-align: right;
}

.elementor-24328 .elementor-element.elementor-element-365e8f8 .hfe-copyright-wrapper a,
.elementor-24328 .elementor-element.elementor-element-365e8f8 .hfe-copyright-wrapper {
    color: #868686;
}

.elementor-24328 .elementor-element.elementor-element-365e8f8 .hfe-copyright-wrapper,
.elementor-24328 .elementor-element.elementor-element-365e8f8 .hfe-copyright-wrapper a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media(max-width:1024px) {
    body:not(.rtl) .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
        right: 92.5px;
    }
    body.rtl .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
        left: 92.5px;
    }
    .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
        top: 120px;
    }
}

@media(max-width:767px) {
    .elementor-24328 .elementor-element.elementor-element-90d3dbd {
        padding: 50px 50px 20px 30px;
    }
    .elementor-24328 .elementor-element.elementor-element-75470ba {
        text-align: left;
    }
    .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
        width: 100%;
        max-width: 100%;
        top: 141px;
    }
    body:not(.rtl) .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
        right: 25px;
    }
    body.rtl .elementor-24328 .elementor-element.elementor-element-2f0ba36 {
        left: 25px;
    }
    .elementor-24328 .elementor-element.elementor-element-999f29b .elementor-text-editor {
        text-align: left;
    }
    .elementor-24328 .elementor-element.elementor-element-999f29b {
        font-size: 14px;
    }
    .elementor-24328 .elementor-element.elementor-element-1d6767e>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    body:not(.rtl) .elementor-24328 .elementor-element.elementor-element-5ae8861 {
        right: 22px;
    }
    body.rtl .elementor-24328 .elementor-element.elementor-element-5ae8861 {
        left: 22px;
    }
    body:not(.rtl) .elementor-24328 .elementor-element.elementor-element-3ac2f5f {
        right: 16px;
    }
    body.rtl .elementor-24328 .elementor-element.elementor-element-3ac2f5f {
        left: 16px;
    }
    .elementor-24328 .elementor-element.elementor-element-933215d .hfe-copyright-wrapper {
        text-align: center;
    }
    .elementor-24328 .elementor-element.elementor-element-365e8f8 .hfe-copyright-wrapper {
        text-align: center;
    }
    .elementor-24328 .elementor-element.elementor-element-365e8f8>.elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }
}